In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
from sklearn.metrics import mean_squared_error

# Estimation
The proposed Two-step approach for high-dimensional ES regression tuned using **cross-validation**.

In [4]:
## covariates are independently folded normal with
data = pd.read_csv("data_ind_min.csv")
data_30 = data[data["n"]==300/data["alpha"]]
data_50 = data[data["n"]==500/data["alpha"]]
data_group = data_30.drop(columns=["s","seed","p","n"])\
.groupby(["alpha","Method"])
mean = round(data_group.mean(),3)
std = round(data_group.std()/math.sqrt(500),3)
table_30 = pd.DataFrame()
for name in mean.columns:
    table_30[name] = mean[name].map(str) + '(' + std[name].map(str) + ')'
table_30 = table_30.reindex(index=['two-step',
                                   'two-step+refitted',
                                   #'two-step+Adaptive Lasso (same lambda)',
                                   #'two-step+Adaptive Lasso (CV)',#'two-step+IRW(same lambda)',
                                   #'two-step+IRW(CV)',
                                   'two-step oracle'],level="Method")
#table = round(table,3)
#table[["n","p"]] = table[["n","p"]].astype(int)
data_group = data_50.drop(columns=["s","seed","p","n"])\
.groupby(["alpha","Method"])
mean = round(data_group.mean(),3)
std = round(data_group.std()/math.sqrt(500),3)
table_50 = pd.DataFrame()
for name in mean.columns:
    table_50[name] = mean[name].map(str) + '(' + std[name].map(str) + ')'
table_50 = table_50.reindex(index=['two-step',
                                   'two-step+refitted',
                                   #'two-step+Adaptive Lasso (same lambda)',
                                   #'two-step+Adaptive Lasso (CV)',#'two-step+IRW(same lambda)',
                                   #'two-step+IRW(CV)',
                                   'two-step oracle'],level="Method")
table=pd.concat([table_30,table_50],axis=1)
table

                            est_error  est_error_FP       TPR           FPR  \
alpha Method
0.05  two-step           0.132(0.001)   0.06(0.001)  1.0(0.0)  0.044(0.001)
      two-step+refitted  0.064(0.001)  0.269(0.002)  1.0(0.0)  0.044(0.001)
      two-step oracle    0.064(0.001)      0.0(0.0)  nan(nan)      nan(nan)
0.10  two-step           0.141(0.001)  0.062(0.001)  1.0(0.0)  0.043(0.001)
      two-step+refitted  0.069(0.001)  0.276(0.002)  1.0(0.0)  0.043(0.001)
      two-step oracle    0.067(0.001)      0.0(0.0)  nan(nan)      nan(nan)
0.20  two-step           0.148(0.001)  0.072(0.001)  1.0(0.0)  0.047(0.001)
      two-step+refitted  0.076(0.001)  0.294(0.002)  1.0(0.0)  0.047(0.001)
      two-step oracle    0.072(0.001)      0.0(0.0)  nan(nan)      nan(nan)

                            est_error  est_error_FP       TPR           FPR
alpha Method
0.05  two-step           0.105(0.001)  0.047(0.001)  1.0(0.0)  0.043(0.001)
      two-step+refitted    0.049(0.0)  0.216(0.002)  1.0(0.0)  0.043(0.001)
      two-step oracle    0.049(0.001)      0.0(0.0)  nan(nan)      nan(nan)
0.10  two-step            0.11(0.001)  0.051(0.001)  1.0(0.0)  0.045(0.001)
      two-step+refitted  0.052(0.001)  0.228(0.002)  1.0(0.0)  0.045(0.001)
      two-step oracle    0.051(0.001)      0.0(0.0)  nan(nan)      nan(nan)
0.20  two-step           0.118(0.001)  0.054(0.001)  1.0(0.0)  0.044(0.001)
      two-step+refitted  0.058(0.001)  0.235(0.002)  1.0(0.0)  0.044(0.001)
      two-step oracle    0.054(0.001)      0.0(0.0)  nan(nan)      nan(nan)

In [6]:
## covariates are folded normal with covariance matrix σ_{jk} = 0.8^|j−k|
data = pd.read_csv("data_.8_min.csv")
data_30 = data[data["n"]==300/data["alpha"]]
data_50 = data[data["n"]==500/data["alpha"]]
data_group = data_30.drop(columns=["s","seed","p","n"])\
.groupby(["alpha","Method"])
mean = round(data_group.mean(),3)
std = round(data_group.std()/math.sqrt(500),3)
table_30 = pd.DataFrame()
for name in mean.columns:
    table_30[name] = mean[name].map(str) + '(' + std[name].map(str) + ')'
table_30 = table_30.reindex(index=['two-step',
                                   'two-step+refitted',
                                   #'two-step+Adaptive Lasso (same lambda)',
                                   #'two-step+Adaptive Lasso (CV)',#'two-step+IRW(same lambda)',
                                   #'two-step+IRW(CV)',
                                   'two-step oracle'],level="Method")
#table = round(table,3)
#table[["n","p"]] = table[["n","p"]].astype(int)
data_group = data_50.drop(columns=["s","seed","p","n"])\
.groupby(["alpha","Method"])
mean = round(data_group.mean(),3)
std = round(data_group.std()/math.sqrt(500),3)
table_50 = pd.DataFrame()
for name in mean.columns:
    table_50[name] = mean[name].map(str) + '(' + std[name].map(str) + ')'
table_50 = table_50.reindex(index=['two-step',
                                   'two-step+refitted',
                                   #'two-step+Adaptive Lasso (same lambda)',
                                   #'two-step+Adaptive Lasso (CV)',#'two-step+IRW(same lambda)',
                                   #'two-step+IRW(CV)',
                                   'two-step oracle'],level="Method")
table=pd.concat([table_30,table_50],axis=1)
table

                            est_error  est_error_FP       TPR           FPR  \
alpha Method
0.05  two-step           0.107(0.001)  0.037(0.001)  1.0(0.0)  0.018(0.001)
      two-step+refitted  0.095(0.001)  0.186(0.003)  1.0(0.0)  0.018(0.001)
      two-step oracle      0.1(0.001)      0.0(0.0)  nan(nan)      nan(nan)
0.10  two-step           0.112(0.001)   0.04(0.001)  1.0(0.0)  0.019(0.001)
      two-step+refitted    0.1(0.001)  0.197(0.003)  1.0(0.0)  0.019(0.001)
      two-step oracle    0.105(0.001)      0.0(0.0)  nan(nan)      nan(nan)
0.20  two-step           0.121(0.001)  0.042(0.001)  1.0(0.0)  0.018(0.001)
      two-step+refitted  0.109(0.001)  0.203(0.003)  1.0(0.0)  0.018(0.001)
      two-step oracle    0.112(0.001)      0.0(0.0)  nan(nan)      nan(nan)

                            est_error  est_error_FP       TPR           FPR
alpha Method
0.05  two-step           0.085(0.001)  0.029(0.001)  1.0(0.0)  0.019(0.001)
      two-step+refitted  0.074(0.001)  0.149(0.002)  1.0(0.0)  0.019(0.001)
      two-step oracle    0.078(0.001)      0.0(0.0)  nan(nan)      nan(nan)
0.10  two-step           0.088(0.001)  0.031(0.001)  1.0(0.0)  0.017(0.001)
      two-step+refitted  0.078(0.001)  0.154(0.002)  1.0(0.0)  0.017(0.001)
      two-step oracle    0.082(0.001)      0.0(0.0)  nan(nan)      nan(nan)
0.20  two-step           0.096(0.001)  0.033(0.001)  1.0(0.0)  0.018(0.001)
      two-step+refitted  0.085(0.001)  0.166(0.002)  1.0(0.0)  0.018(0.001)
      two-step oracle    0.087(0.001)      0.0(0.0)  nan(nan)      nan(nan)

In [5]:
# data = pd.read_csv("data_.8_min.csv")
# data_30 = data[data["n"]==300/data["alpha"]]
# data_50 = data[data["n"]==500/data["alpha"]]
# data_group = data_30.drop(columns=["s","seed","p","n"])\
# .groupby(["alpha","Method"])
# mean = round(data_group.mean(),3)
# table_30 = pd.DataFrame()
# for name in mean.columns:
#     table_30[name] = mean[name].map(str)
# table_30 = table_30.reindex(index=['two-step',
#                                    'two-step+refitted',
#                                    #'two-step+Adaptive Lasso (same lambda)',
#                                    #'two-step+Adaptive Lasso (CV)',#'two-step+IRW(same lambda)',
#                                    #'two-step+IRW(CV)',
#                                    'two-step oracle'],level="Method")
# #table = round(table,3)
# #table[["n","p"]] = table[["n","p"]].astype(int)
# data_group = data_50.drop(columns=["s","seed","p","n"])\
# .groupby(["alpha","Method"])
# mean = round(data_group.mean(),3)
# table_50 = pd.DataFrame()
# for name in mean.columns:
#     table_50[name] = mean[name].map(str)
# table_50 = table_50.reindex(index=['two-step',
#                                    'two-step+refitted',
#                                    #'two-step+Adaptive Lasso (same lambda)',
#                                    #'two-step+Adaptive Lasso (CV)',#'two-step+IRW(same lambda)',
#                                    #'two-step+IRW(CV)',
#                                    'two-step oracle'],level="Method")
# table=pd.concat([table_30,table_50],axis=1)
# table

                        est_error est_error_FP  TPR    FPR est_error  \
alpha Method
0.05  two-step              0.107        0.037  1.0  0.018     0.085
      two-step+refitted     0.095        0.186  1.0  0.018     0.074
      two-step oracle         0.1          0.0  nan    nan     0.078
0.10  two-step              0.112         0.04  1.0  0.019     0.088
      two-step+refitted       0.1        0.197  1.0  0.019     0.078
      two-step oracle       0.105          0.0  nan    nan     0.082
0.20  two-step              0.121        0.042  1.0  0.018     0.096
      two-step+refitted     0.109        0.203  1.0  0.018     0.085
      two-step oracle       0.112          0.0  nan    nan     0.087

                        est_error_FP  TPR    FPR
alpha Method
0.05  two-step                 0.029  1.0  0.019
      two-step+refitted        0.149  1.0  0.019
      two-step oracle            0.0  nan    nan
0.10  two-step                 0.031  1.0  0.017
      two-step+refitted        0.154  1.0  0.017
      two-step oracle            0.0  nan    nan
0.20  two-step                 0.033  1.0  0.018
      two-step+refitted        0.166  1.0  0.018
      two-step oracle            0.0  nan    nan

In [59]:
## covariates are folded normal with covariance matrix σ_{jk} = 0.6^|j−k|
data = pd.read_csv("data_.6_min.csv")
data_30 = data[data["n"]==300/data["alpha"]]
data_50 = data[data["n"]==500/data["alpha"]]
data_group = data_30.drop(columns=["s","seed","p","n"])\
.groupby(["alpha","Method"])
mean = round(data_group.mean(),3)
std = round(data_group.std()/math.sqrt(500),3)
table_30 = pd.DataFrame()
for name in mean.columns:
    table_30[name] = mean[name].map(str) + '(' + std[name].map(str) + ')'
table_30 = table_30.reindex(index=['two-step',
                                   'two-step+refitted',
                                   #'two-step+Adaptive Lasso (same lambda)',
                                   #'two-step+Adaptive Lasso (CV)',#'two-step+IRW(same lambda)',
                                   #'two-step+IRW(CV)',
                                   'two-step oracle'],level="Method")
#table = round(table,3)
#table[["n","p"]] = table[["n","p"]].astype(int)
data_group = data_50.drop(columns=["s","seed","p","n"])\
.groupby(["alpha","Method"])
mean = round(data_group.mean(),3)
std = round(data_group.std()/math.sqrt(500),3)
table_50 = pd.DataFrame()
for name in mean.columns:
    table_50[name] = mean[name].map(str) + '(' + std[name].map(str) + ')'
table_50 = table_50.reindex(index=['two-step',
                                   'two-step+refitted',
                                   #'two-step+Adaptive Lasso (same lambda)',
                                   #'two-step+Adaptive Lasso (CV)',#'two-step+IRW(same lambda)',
                                   #'two-step+IRW(CV)',
                                   'two-step oracle'],level="Method")
table=pd.concat([table_30,table_50],axis=1)
table

                            est_error  est_error_FP       TPR           FPR  \
alpha Method
0.05  two-step           0.103(0.001)  0.046(0.001)  1.0(0.0)  0.028(0.001)
      two-step+refitted  0.074(0.001)  0.227(0.002)  1.0(0.0)  0.028(0.001)
      two-step oracle    0.077(0.001)      0.0(0.0)  nan(nan)      nan(nan)
0.10  two-step           0.109(0.001)  0.049(0.001)  1.0(0.0)  0.028(0.001)
      two-step+refitted  0.078(0.001)  0.235(0.003)  1.0(0.0)  0.028(0.001)
      two-step oracle     0.08(0.001)      0.0(0.0)  nan(nan)      nan(nan)
0.20  two-step           0.116(0.001)  0.056(0.001)  1.0(0.0)   0.03(0.001)
      two-step+refitted  0.086(0.001)  0.251(0.003)  1.0(0.0)   0.03(0.001)
      two-step oracle    0.085(0.001)      0.0(0.0)  nan(nan)      nan(nan)

                            est_error  est_error_FP       TPR           FPR
alpha Method
0.05  two-step           0.082(0.001)  0.036(0.001)  1.0(0.0)  0.027(0.001)
      two-step+refitted  0.056(0.001)  0.181(0.002)  1.0(0.0)  0.027(0.001)
      two-step oracle    0.058(0.001)      0.0(0.0)  nan(nan)      nan(nan)
0.10  two-step           0.085(0.001)   0.04(0.001)  1.0(0.0)  0.028(0.001)
      two-step+refitted   0.06(0.001)  0.192(0.002)  1.0(0.0)  0.028(0.001)
      two-step oracle    0.061(0.001)      0.0(0.0)  nan(nan)      nan(nan)
0.20  two-step           0.093(0.001)  0.041(0.001)  1.0(0.0)  0.027(0.001)
      two-step+refitted  0.065(0.001)  0.198(0.002)  1.0(0.0)  0.027(0.001)
      two-step oracle    0.065(0.001)      0.0(0.0)  nan(nan)      nan(nan)

In [53]:
## Covariates are independent uniform on 0,1.5
data = pd.read_csv("uniform_results.csv")
data_30 = data[data["n"]==300/data["alpha"]]
data_50 = data[data["n"]==500/data["alpha"]]
data_group = data_30.drop(columns=["s","seed","p","n"])\
.groupby(["alpha","Method"])
mean = round(data_group.mean(),3)
std = round(data_group.std()/math.sqrt(500),3)
table_30 = pd.DataFrame()
for name in mean.columns:
    table_30[name] = mean[name].map(str) + '(' + std[name].map(str) + ')'
table_30 = table_30.reindex(index=['two-step',
                                   'two-step+refitted',
                                   #'two-step+Adaptive Lasso (same lambda)',
                                   #'two-step+Adaptive Lasso (CV)',#'two-step+IRW(same lambda)',
                                   #'two-step+IRW(CV)',
                                   'two-step oracle'],level="Method")
#table = round(table,3)
#table[["n","p"]] = table[["n","p"]].astype(int)
data_group = data_50.drop(columns=["s","seed","p","n"])\
.groupby(["alpha","Method"])
mean = round(data_group.mean(),3)
std = round(data_group.std()/math.sqrt(500),3)
table_50 = pd.DataFrame()
for name in mean.columns:
    table_50[name] = mean[name].map(str) + '(' + std[name].map(str) + ')'
table_50 = table_50.reindex(index=['two-step',
                                   'two-step+refitted',
                                   #'two-step+Adaptive Lasso (same lambda)',
                                   #'two-step+Adaptive Lasso (CV)',#'two-step+IRW(same lambda)',
                                   #'two-step+IRW(CV)',
                                   'two-step oracle'],level="Method")
table=pd.concat([table_30,table_50],axis=1)
table

                            est_error  est_error_FP       TPR           FPR  \
alpha Method
0.05  two-step           0.168(0.001)  0.077(0.001)  1.0(0.0)  0.044(0.001)
      two-step+refitted  0.076(0.001)  0.354(0.003)  1.0(0.0)  0.044(0.001)
      two-step oracle    0.075(0.001)      0.0(0.0)  nan(nan)      nan(nan)
0.10  two-step           0.177(0.001)  0.084(0.001)  1.0(0.0)  0.046(0.001)
      two-step+refitted  0.082(0.001)   0.37(0.003)  1.0(0.0)  0.046(0.001)
      two-step oracle    0.077(0.001)      0.0(0.0)  nan(nan)      nan(nan)
0.20  two-step           0.188(0.001)  0.094(0.001)  1.0(0.0)  0.048(0.001)
      two-step+refitted  0.093(0.001)  0.385(0.003)  1.0(0.0)  0.048(0.001)
      two-step oracle    0.085(0.001)      0.0(0.0)  nan(nan)      nan(nan)

                            est_error  est_error_FP       TPR           FPR
alpha Method
0.05  two-step           0.134(0.001)  0.061(0.001)  1.0(0.0)  0.044(0.001)
      two-step+refitted  0.061(0.001)  0.281(0.003)  1.0(0.0)  0.044(0.001)
      two-step oracle    0.059(0.001)      0.0(0.0)  nan(nan)      nan(nan)
0.10  two-step           0.139(0.001)  0.064(0.001)  1.0(0.0)  0.043(0.001)
      two-step+refitted  0.063(0.001)  0.292(0.003)  1.0(0.0)  0.043(0.001)
      two-step oracle    0.061(0.001)      0.0(0.0)  nan(nan)      nan(nan)
0.20  two-step           0.149(0.001)  0.072(0.001)  1.0(0.0)  0.046(0.001)
      two-step+refitted  0.069(0.001)   0.31(0.003)  1.0(0.0)  0.046(0.001)
      two-step oracle    0.065(0.001)      0.0(0.0)  nan(nan)      nan(nan)

In [28]:
## when p = 2n
data = pd.read_csv("results_.8_largep.csv")
data = data[data["p"]==2*data["n"]]
data_group = data.drop(columns=["s","seed","p","n"])\
.groupby(["alpha","Method"])
mean = round(data_group.mean(),3)
std = round(data_group.std()/math.sqrt(500),3)
table = pd.DataFrame()
for name in mean.columns:
    table[name] = mean[name].map(str) + '(' + std[name].map(str) + ')'
table = table.reindex(index=['two-step',
                                   'two-step+refitted',
                                   'two-step oracle'],level="Method")
table

                            est_error  est_error_FP       TPR         FPR
alpha Method
0.05  two-step           0.123(0.001)  0.038(0.001)  1.0(0.0)  0.002(0.0)
      two-step+refitted    0.1(0.001)  0.271(0.004)  1.0(0.0)  0.002(0.0)
      two-step oracle    0.111(0.001)      0.0(0.0)  nan(nan)    nan(nan)
0.10  two-step           0.127(0.001)  0.043(0.001)  1.0(0.0)  0.005(0.0)
      two-step+refitted  0.106(0.001)  0.268(0.004)  1.0(0.0)  0.005(0.0)
      two-step oracle    0.117(0.001)      0.0(0.0)  nan(nan)    nan(nan)
0.20  two-step           0.134(0.001)  0.048(0.001)  1.0(0.0)  0.009(0.0)
      two-step+refitted  0.118(0.001)  0.257(0.004)  1.0(0.0)  0.009(0.0)
      two-step oracle    0.125(0.002)      0.0(0.0)  nan(nan)    nan(nan)

The proposed Two-step approach for high-dimensional ES regression tuned using **Bayesian information criteria**.

In [22]:
## covariates are folded normal with covariance matrix σ_{jk} = 0.8^|j−k|
data = pd.read_csv("results_.8_bic.csv")
data_group = data.drop(columns=["s","seed","p","n"])\
.groupby(["alpha","Method"])
mean = round(data_group.mean(),5)
std = round(data_group.std()/math.sqrt(500),3)
table = pd.DataFrame()
for name in mean.columns:
    table[name] = mean[name].map(str) + '(' + std[name].map(str) + ')'
table = table.reindex(index=['two-step(bic)',
                                   'two-step+refitted',
                                   'two-step oracle'],level="Method")
table

                              est_error    est_error_FP       TPR  \
alpha Method
0.05  two-step(bic)      0.09327(0.001)    0.00198(0.0)  1.0(0.0)
      two-step+refitted  0.07177(0.001)  0.01161(0.001)  1.0(0.0)
      two-step oracle    0.07885(0.001)        0.0(0.0)  nan(nan)
0.10  two-step(bic)      0.09762(0.001)    0.00232(0.0)  1.0(0.0)
      two-step+refitted  0.07533(0.001)  0.01378(0.001)  1.0(0.0)
      two-step oracle    0.08266(0.001)        0.0(0.0)  nan(nan)
0.20  two-step(bic)      0.10531(0.001)    0.00269(0.0)  1.0(0.0)
      two-step+refitted   0.0806(0.001)  0.01492(0.001)  1.0(0.0)
      two-step oracle    0.08779(0.001)        0.0(0.0)  nan(nan)

                                  FPR
alpha Method
0.05  two-step(bic)      0.00022(0.0)
      two-step+refitted  0.00022(0.0)
      two-step oracle        nan(nan)
0.10  two-step(bic)      0.00025(0.0)
      two-step+refitted  0.00025(0.0)
      two-step oracle        nan(nan)
0.20  two-step(bic)      0.00026(0.0)
      two-step+refitted  0.00026(0.0)
      two-step oracle        nan(nan)

# Inference on one parameter of interest
The proposed Two-step approach for high-dimensional ES regression tuned using **Bayesian information criteria**.

In [38]:
## covariates are folded normal with covariance matrix σ_{jk} = 0.8^|j−k|
data = pd.read_csv("onepara_data_.8.csv")
#data = data.dropna()
estimation = data[["alpha","theta0_star","theta0_hat","theta0_debias","theta0_oracle","theta0_boot","results2"]]
                   #,"theta0_hat_boot_adjust"]]
est_group = estimation.groupby(["alpha"])
mean = round(est_group.mean(),3)
mse = mean.copy()
mse["theta0_hat"] = round(est_group.apply(lambda x: mean_squared_error(x['theta0_star'], x['theta0_hat'])),3)
mse["theta0_debias"] = round(est_group.apply(lambda x: mean_squared_error(x['theta0_star'], x['theta0_debias'])),3)
mse["theta0_oracle"] = round(est_group.apply(lambda x: mean_squared_error(x['theta0_star'], x['theta0_oracle'])),3)
mse["theta0_boot"] = round(est_group.apply(lambda x: mean_squared_error(x['theta0_star'], x['theta0_boot'])),3)
#std = round(est_group.std()/math.sqrt(500),3)
table = mean[["theta0_star"]]
for name in mean.columns[1:(len(mean.columns)-1)]:
    table[name] = round((mean[name]-mean["theta0_star"])*100,3).map(str) + '/' + round(mse[name]*100,3).map(str)
name = "results2"
table["results"] = round(mean[name],2).map(str)
table

/var/folders/44/fh7jk3ps13xgzqc8v05brvm40000gs/T/ipykernel_67419/316369562.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[name] = round((mean[name]-mean["theta0_star"])*100,3).map(str) + '/' + round(mse[name]*100,3).map(str)
/var/folders/44/fh7jk3ps13xgzqc8v05brvm40000gs/T/ipykernel_67419/316369562.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[name] = round((mean[name]-mean["theta0_star"])*100,3).map(str) + '/' + round(mse[name]*100,3).map(str)
/var/folders/44/fh7jk3ps13xgzqc8v05brvm40000gs/T/ipykernel_67419/316369562.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[name] = round((mean[name]-mean["theta0_star"])*100,3).map(str) + '/' + round(mse[name]*100,3).map(str)
/var/folders/44/fh7jk3ps13xgzqc8v05brvm40000gs/T/ipykernel_67419/316369562.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[name] = round((mean[name]-mean["theta0_star"])*100,3).map(str) + '/' + round(mse[name]*100,3).map(str)

       theta0_star theta0_hat theta0_debias theta0_oracle theta0_boot results
alpha
0.05         1.312   -8.1/1.4       1.3/0.7       0.0/0.8    -4.5/0.9    0.94
0.10         1.415   -8.8/1.6       1.8/0.8       0.1/0.9    -5.1/1.1    0.97
0.20         1.533   -9.5/2.0       2.8/1.1       0.8/1.2    -5.6/1.4    0.95

In [11]:
## covariates are independently folded normal 
data = pd.read_csv("onepara_data_ind.csv")
#data = data.dropna()
estimation = data[["alpha","theta0_star","theta0_hat","theta0_debias","theta0_oracle","theta0_boot","results2"]]
                   #,"theta0_hat_boot_adjust"]]
est_group = estimation.groupby(["alpha"])
mean = round(est_group.mean(),3)
mse = mean.copy()
mse["theta0_hat"] = round(est_group.apply(lambda x: mean_squared_error(x['theta0_star'], x['theta0_hat'])),3)
mse["theta0_debias"] = round(est_group.apply(lambda x: mean_squared_error(x['theta0_star'], x['theta0_debias'])),3)
mse["theta0_oracle"] = round(est_group.apply(lambda x: mean_squared_error(x['theta0_star'], x['theta0_oracle'])),3)
mse["theta0_boot"] = round(est_group.apply(lambda x: mean_squared_error(x['theta0_star'], x['theta0_boot'])),3)
#std = round(est_group.std()/math.sqrt(500),3)
table = mean[["theta0_star"]]
for name in mean.columns[1:(len(mean.columns)-1)]:
    table[name] = round((mean[name]-mean["theta0_star"])*100,3).map(str) + '/' + round(mse[name]*100,3).map(str)
name = "results2"
table["results"] = round(mean[name],2).map(str)
table

/var/folders/44/fh7jk3ps13xgzqc8v05brvm40000gs/T/ipykernel_29303/3688079700.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[name] = round((mean[name]-mean["theta0_star"])*100,3).map(str) + '/' + round(mse[name]*100,3).map(str)
/var/folders/44/fh7jk3ps13xgzqc8v05brvm40000gs/T/ipykernel_29303/3688079700.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[name] = round((mean[name]-mean["theta0_star"])*100,3).map(str) + '/' + round(mse[name]*100,3).map(str)
/var/folders/44/fh7jk3ps13xgzqc8v05brvm40000gs/T/ipykernel_29303/3688079700.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[name] = round((mean[name]-mean["theta0_star"])*100,3).map(str) + '/' + round(mse[name]*100,3).map(str)
/var/folders/44/fh7jk3ps13xgzqc8v05brvm40000gs/T/ipykernel_29303/3688079700.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[name] = round((mean[name]-mean["theta0_star"])*100,3).map(str) + '/' + round(mse[name]*100,3).map(str)

       theta0_star theta0_hat theta0_debias theta0_oracle theta0_boot results
alpha
0.05         1.312  -10.4/1.5       0.3/0.4      -0.1/0.4    -5.8/0.7    0.95
0.10         1.415  -11.4/1.8       0.3/0.5       0.1/0.6    -6.7/1.0    0.94
0.20         1.533  -12.3/2.1       0.9/0.6       0.6/0.6    -7.5/1.1    0.95

In [46]:
## Covariates are independent uniform on 0,1.5
data = pd.read_csv("uniform_onepara.csv")
#data = data.dropna()
estimation = data[["alpha","theta0_star","theta0_hat","theta0_debias","theta0_oracle","theta0_boot","results2"]]
                   #,"theta0_hat_boot_adjust"]]
est_group = estimation.groupby(["alpha"])
mean = round(est_group.mean(),3)
std = round(est_group.std()/math.sqrt(500),3)
table = mean[["theta0_star"]]
for name in mean.columns[1:(len(mean.columns)-1)]:
    table[name] = round(mean[name]-mean["theta0_star"],3).map(str) + '(' + std[name].map(str) + ')'
name = "results2"
table["results"] = round(mean[name],3).map(str) + '(' + std[name].map(str) + ')'
table

/var/folders/44/fh7jk3ps13xgzqc8v05brvm40000gs/T/ipykernel_5336/3547404248.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[name] = round(mean[name]-mean["theta0_star"],3).map(str) + '(' + std[name].map(str) + ')'
/var/folders/44/fh7jk3ps13xgzqc8v05brvm40000gs/T/ipykernel_5336/3547404248.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[name] = round(mean[name]-mean["theta0_star"],3).map(str) + '(' + std[name].map(str) + ')'
/var/folders/44/fh7jk3ps13xgzqc8v05brvm40000gs/T/ipykernel_5336/3547404248.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[name] = round(mean[name]-mean["theta0_star"],3).map(str) + '(' + std[name].map(str) + ')'
/var/folders/44/fh7jk3ps13xgzqc8v05brvm40000gs/T/ipykernel_5336/3547404248.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[name] = round(mean[name]-mean["theta0_star"],3).map(str) + '(' + std[name].map(str) + ')'

,theta0_star,theta0_hat,theta0_debias,theta0_oracle,theta0_boot,results
alpha,,,,,,
0.05,1.312,-0.135(0.003),0.004(0.003),0.0(0.003),-0.057(0.003),0.958(0.009)
0.10,1.415,-0.154(0.004),0.0(0.004),-0.006(0.004),-0.073(0.003),0.94(0.011)
0.20,1.533,-0.166(0.004),0.004(0.004),0.0(0.004),-0.084(0.004),0.956(0.009)

In [32]:
## p = 2n
data = pd.read_csv("onepara_results_.8_largep.csv")
data = data[data["p"]==2*data["n"]]
estimation = data[["alpha","theta0_star","theta0_hat","theta0_debias","theta0_oracle","results"]]
                   #,"theta0_hat_boot_adjust"]]
est_group = estimation.groupby(["alpha"])
mean = round(est_group.mean(),3)
std = round(est_group.std()/math.sqrt(500),3)
table = mean[["theta0_star"]]
for name in mean.columns[1:(len(mean.columns)-1)]:
    table[name] = round(mean[name]-mean["theta0_star"],3).map(str) + '(' + std[name].map(str) + ')'
name = "results"
table["results"] = round(mean[name],3).map(str) + '(' + std[name].map(str) + ')'
table

/var/folders/8n/xk19drhj641294tk95td17mm0000gn/T/ipykernel_93820/529450110.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[name] = round(mean[name]-mean["theta0_star"],3).map(str) + '(' + std[name].map(str) + ')'
/var/folders/8n/xk19drhj641294tk95td17mm0000gn/T/ipykernel_93820/529450110.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[name] = round(mean[name]-mean["theta0_star"],3).map(str) + '(' + std[name].map(str) + ')'
/var/folders/8n/xk19drhj641294tk95td17mm0000gn/T/ipykernel_93820/529450110.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[name] = round(mean[name]-mean["theta0_star"],3).map(str) + '(' + std[name].map(str) + ')'

       theta0_star     theta0_hat theta0_debias theta0_oracle       results
alpha
0.05         1.312  -0.137(0.005)  0.031(0.005)  0.008(0.006)   0.952(0.01)
0.10         1.415  -0.142(0.006)  0.034(0.005)  0.003(0.006)  0.938(0.011)
0.20         1.533  -0.147(0.006)  0.043(0.006)   0.01(0.007)   0.942(0.01)

The proposed Two-step approach for high-dimensional ES regression tuned using **Bayesian information criteria**.

In [15]:
data = pd.read_csv("onepara_results_.8_bic.csv")
#data = data.dropna()
estimation = data[["alpha","theta0_star","theta0_hat","theta0_debias","theta0_oracle","results"]]
                   #,"theta0_hat_boot_adjust"]]
est_group = estimation.groupby(["alpha"])
mean = round(est_group.mean(),3)
std = round(est_group.std()/math.sqrt(500),3)
table = mean[["theta0_star"]]
for name in mean.columns[1:(len(mean.columns)-1)]:
    table[name] = round(mean[name]-mean["theta0_star"],3).map(str) + '(' + std[name].map(str) + ')'
name = "results"
table["results"] = round(mean[name],3).map(str) + '(' + std[name].map(str) + ')'
table

/var/folders/8n/xk19drhj641294tk95td17mm0000gn/T/ipykernel_93820/3390338510.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[name] = round(mean[name]-mean["theta0_star"],3).map(str) + '(' + std[name].map(str) + ')'
/var/folders/8n/xk19drhj641294tk95td17mm0000gn/T/ipykernel_93820/3390338510.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[name] = round(mean[name]-mean["theta0_star"],3).map(str) + '(' + std[name].map(str) + ')'
/var/folders/8n/xk19drhj641294tk95td17mm0000gn/T/ipykernel_93820/3390338510.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[name] = round(mean[name]-mean["theta0_star"],3).map(str) + '(' + std[name].map(str) + ')'

       theta0_star     theta0_hat theta0_debias theta0_oracle       results
alpha
0.05         1.312   -0.82(0.006)  0.017(0.004)    0.0(0.004)   0.946(0.01)
0.10         1.415   -0.88(0.006)  0.024(0.004)  0.001(0.004)  0.962(0.009)
0.20         1.533  -0.917(0.007)  0.036(0.004)  0.008(0.005)   0.948(0.01)

# Sensitivity Analysis

## smaller signal to noise ratio

In [71]:
data = pd.read_csv("sensitivity_ind.csv")
data

,Method,alpha,n,p,seed,s,mul,est_error,est_error_FP,TPR,FPR
0,two-step,0.2,2500,1000,100,10,0.2,0.857099,0.347339,0.3,0.016162
1,two-step+refitted,0.2,2500,1000,100,10,0.2,0.708683,1.379558,0.3,0.016162
2,two-step oracle,0.2,2500,1000,100,10,0.2,0.623937,0.000000,NaN,NaN
3,two-step,0.2,2500,1000,100,10,0.4,0.362995,0.200534,1.0,0.034343
4,two-step+refitted,0.2,2500,1000,100,10,0.4,0.293895,0.694133,1.0,0.034343
...,...,...,...,...,...,...,...,...,...,...,...
7492,two-step+refitted,0.2,2500,1000,9,10,0.8,0.054327,0.298138,1.0,0.045455
7493,two-step oracle,0.2,2500,1000,9,10,0.8,0.051005,0.000000,NaN,NaN
7494,two-step,0.2,2500,1000,9,10,1.0,0.082714,0.058094,1.0,0.044444
7495,two-step+refitted,0.2,2500,1000,9,10,1.0,0.041305,0.225566,1.0,0.044444
7496,two-step oracle,0.2,2500,1000,9,10,1.0,0.038652,0.000000,NaN,NaN

In [78]:
data = pd.read_csv("sensitivity_.8.csv")
data_group = data.drop(columns=["s","seed","p","n","alpha"])\
.groupby(["mul","Method"])
mean = round(data_group.mean(),3)
std = round(data_group.std()/math.sqrt(500),3)
table_50 = pd.DataFrame()
for name in mean.columns:
    table_50[name] = mean[name].map(str) + '(' + std[name].map(str) + ')'
table_50 = table_50.reindex(index=['two-step',
                                   'two-step+refitted',
                                   #'two-step+Adaptive Lasso (same lambda)',
                                   #'two-step+Adaptive Lasso (CV)',#'two-step+IRW(same lambda)',
                                   #'two-step+IRW(CV)',
                                   'two-step oracle'],level="Method")
table_50

                          est_error  est_error_FP           TPR           FPR
mul Method
0.2 two-step           0.681(0.004)  0.222(0.008)  0.471(0.005)  0.013(0.001)
    two-step+refitted  0.707(0.008)  1.167(0.027)  0.471(0.005)  0.013(0.001)
    two-step oracle    0.751(0.009)      0.0(0.0)      nan(nan)      nan(nan)
0.4 two-step           0.335(0.003)  0.115(0.003)  0.995(0.001)  0.018(0.001)
    two-step+refitted    0.3(0.004)  0.578(0.009)  0.995(0.001)  0.018(0.001)
    two-step oracle    0.304(0.004)      0.0(0.0)      nan(nan)      nan(nan)
0.6 two-step           0.184(0.002)  0.064(0.002)      1.0(0.0)  0.018(0.001)
    two-step+refitted  0.164(0.002)  0.322(0.005)      1.0(0.0)  0.018(0.001)
    two-step oracle    0.167(0.002)      0.0(0.0)      nan(nan)      nan(nan)
0.8 two-step           0.126(0.001)  0.043(0.001)      1.0(0.0)  0.018(0.001)
    two-step+refitted  0.112(0.001)  0.219(0.003)      1.0(0.0)  0.018(0.001)
    two-step oracle    0.114(0.001)      0.0(0.0)      nan(nan)      nan(nan)
1.0 two-step           0.096(0.001)  0.033(0.001)      1.0(0.0)  0.018(0.001)
    two-step+refitted  0.085(0.001)  0.166(0.002)      1.0(0.0)  0.018(0.001)
    two-step oracle    0.087(0.001)      0.0(0.0)      nan(nan)      nan(nan)

## iid

In [61]:
data = pd.read_csv("iid_.8.csv")
data_30 = data[data["n"]==300/data["alpha"]]
data_50 = data[data["n"]==500/data["alpha"]]
data_group = data_30.drop(columns=["s","seed","p","n","TPR"])\
.groupby(["alpha","Method"])
mean = round(data_group.mean(),3)
#std = round(data_group.std()/math.sqrt(500),3)
#table_30 = pd.DataFrame()
#for name in mean.columns:
#    table_30[name] = mean[name].map(str) + '(' + std[name].map(str) + ')'
table_30 = mean.reindex(index=['two-step','glmnet','two-step oracle'],level="Method")
#table = round(table,3)
#table[["n","p"]] = table[["n","p"]].astype(int)
data_group = data_50.drop(columns=["s","seed","p","n","TPR"])\
.groupby(["alpha","Method"])
mean = round(data_group.mean(),3)
#std = round(data_group.std()/math.sqrt(500),3)
#table_50 = pd.DataFrame()
#for name in mean.columns:
#    table_50[name] = mean[name].map(str) + '(' + std[name].map(str) + ')'
table_50 = mean.reindex(index=['two-step','glmnet','two-step oracle'],level="Method")
table=pd.concat([table_30,table_50],axis=1)
table

                       est_error    FPR  est_error    FPR
alpha Method
0.05  two-step             0.174  0.010      0.143  0.011
      glmnet               0.034  0.000      0.029  0.000
      two-step oracle      0.018    NaN      0.014    NaN
0.10  two-step             0.070  0.008      0.059  0.009
      glmnet               0.045  0.000      0.037  0.000
      two-step oracle      0.026    NaN      0.020    NaN
0.20  two-step             0.071  0.012      0.051  0.010
      glmnet               0.058  0.000      0.047  0.000
      two-step oracle      0.037    NaN      0.028    NaN
0.50  two-step             0.091  0.025      0.067  0.021
      glmnet               0.087  0.001      0.068  0.000
      two-step oracle      0.059    NaN      0.044    NaN

In [36]:
data = pd.read_csv("iid_ind.csv")
data_30 = data[data["n"]==300/data["alpha"]]
data_50 = data[data["n"]==500/data["alpha"]]
data_group = data_30.drop(columns=["s","seed","p","n","TPR"])\
.groupby(["alpha","Method"])
mean = round(data_group.mean(),3)
#std = round(data_group.std()/math.sqrt(500),3)
#table_30 = pd.DataFrame()
#for name in mean.columns:
#    table_30[name] = mean[name].map(str) + '(' + std[name].map(str) + ')'
table_30 = mean.reindex(index=['two-step','glmnet','two-step oracle'],level="Method")
#table = round(table,3)
#table[["n","p"]] = table[["n","p"]].astype(int)
data_group = data_50.drop(columns=["s","seed","p","n","TPR"])\
.groupby(["alpha","Method"])
mean = round(data_group.mean(),3)
#std = round(data_group.std()/math.sqrt(500),3)
#table_50 = pd.DataFrame()
#for name in mean.columns:
#    table_50[name] = mean[name].map(str) + '(' + std[name].map(str) + ')'
table_50 = mean.reindex(index=['two-step','glmnet','two-step oracle'],level="Method")
table=pd.concat([table_30,table_50],axis=1)
table

                       est_error    FPR  est_error    FPR
alpha Method
0.05  two-step             0.068  0.019      0.071  0.019
      glmnet               0.053  0.000      0.045  0.000
      two-step oracle      0.012    NaN      0.010    NaN
0.10  two-step             0.088  0.028      0.059  0.023
      glmnet               0.070  0.001      0.058  0.001
      two-step oracle      0.018    NaN      0.014    NaN
0.20  two-step             0.111  0.051      0.085  0.042
      glmnet               0.091  0.003      0.074  0.002
      two-step oracle      0.025    NaN      0.019    NaN
0.50  two-step             0.137  0.083      0.105  0.073
      glmnet               0.139  0.006      0.107  0.005
      two-step oracle      0.040    NaN      0.031    NaN